<div class="main-container">
  <div class="my_bookings_page">

    <div id="header" style="margin-top: 8px; color:#D62828;">
      <h1>My bookings</h1>
    </div>

    <div class="my_bookings">
      <% @bookings.each_with_index do |booking| %>
        <div class="grids">
          <div class="card-grid">

            <div class="card-offer">
              <%= image_tag booking.offer.destination.accommodation.url %>

              <div class="card-offer-infos">
                <div class="card-offer-title">
                  <div class="card-offer-title-city">
                    <h2><%= booking.offer.destination.city_name %></h2>
                  </div>
                </div>

                <div class="card-offer-details">

                  <div class="card-booking">
                    <p>Start: <%= booking.offer.destination.flight.start_date %></p>
                    <p>End: <%= booking.offer.destination.flight.end_date %></p>
                    <p>Flight: <%= booking.offer.destination.flight.company %> - <%= booking.offer.destination.flight.flight_number %> | <%= booking.offer.destination.flight.departure_start %></p>
                    <p>Hotel: <%= booking.offer.destination.accommodation.name %>, <%= booking.offer.destination.accommodation.address %></p>
                    <h4>Total Price: <%= booking.offer.destination.total_price %>€</h4>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div>
            <%= link_to booking_path(booking), method: :delete, class: 'button-vertical' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>

      <% end %>

    </div>

  </div>
  <div class="buttons">
    <%= link_to "<< Back", :back, class: "button-primary" %>

    <%= link_to "Make a new booking", root_path, class: 'button-primary' %>
    </div>
  </div>
</div>

