<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="trail">
          <div class="trail-circle done">
            <h1>1</h1>
            <p>Set a Budget & Date</p>
          </div>
          <div class="trail-circle done">
            <h1>2</h1>
            <p>Pick a Destination</p>
          </div>
          <div class="trail-circle doing">
            <h1>3</h1>
            <p>Book Travel & Accommodation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="card offers-cards col-12 col-lg-4">
        <div class="flight-offer-card">
          <div class="flight-offer-card-title">
            <h2>ICON__</h2>
            <h2>Your flight</h2>
          </div>
          <h3>Carrier</h3>
          <h5><%= @offer.destination.flight.company %></h5>
          <h3>From</h3>
          <h5>Lisbon - LIS</h5>
          <h3>To</h3>
          <h5><%= @offer.destination.city_name %></h5>
          <h3>Outbound</h3>
          <h5><%= @offer.destination.flight.start_date %></h5>
          <h3>Inbound</h3>
          <h5>Still needed</h5>
          <h3>Number of passengers</h3>
          <h5><%= current_user.definition.travellers %></h5>
          <div class= "booking-buttons">
            <%= link_to "Book flight", destination_offer_bookings_path(@offer.destination, @offer, param1: 'btn-flight'), class: "btn btn-flat", method: :post %>
          </div>
          <% if !@booking.nil? && @booking.status_flight %>
            <p>clicked</p>
          <% end %>
        </div>
      </div>
      <div class="card offers-cards col-12 col-lg-4">
        <div class="accommodation-offer-card">
          <div class="accommodation-offer-card-title">
            <h2>ICON__</h2>
            <h2>Your accommodation</h2>
          </div>
          <h3>Platform</h3>
          <h5>Still needed</h5>
          <h3>Location</h3>
          <h5><%= @offer.destination.accommodation.name %></h5>
          <h3>Address</h3>
          <h5><%= @offer.destination.accommodation.address %></h5>
          <h3>Check in</h3>
          <h5><%= @offer.destination.accommodation.check_in %></h5>
          <h3>Check out</h3>
          <h5>Still needed</h5>
          <h3>Number of guests</h3>
          <h5><%= current_user.definition.travellers %></h5>
          <div class= "booking-buttons">
            <%= link_to "Book hotel", destination_offer_bookings_path(@offer.destination, @offer, param1: 'btn-hotel'), class: "btn btn-flat", method: :post  %>
          </div>
          <% if !@booking.nil? && @booking.status_accommodation %>
            <p>clicked</p>
          <% end %>
        </div>
      </div>
    </div>
      <% if !@booking.nil? && @booking.status_accommodation && @booking.status_flight %>
        <div class= "booking-buttons">
          <%= link_to "Check Out", destination_offer_booking_path(@offer.destination, @offer, @booking), class: "btn btn-flat" %>
        </div>
      <% end %>
  </div>
</div>

