<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="booking-title">
        <h1>You're all set to go!</h1>
        <p>You'll receive shortly a confirmation email</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">

      <div class="booking-card">

        <div class="booking-card-title">
          <p>Enjoy your trip to </p>
          <h2><%= @booking.offer.destination.city_name %></h2>
        </div>

        <div class="booking-card-button">
          <%= link_to "https://en.wikipedia.org/wiki/#{@booking.offer.destination.city_name}", target: :_blank, class: 'btn btn-booking' do %>
            <i class="fas fa-info"></i> Discover more
          <% end %>
        </div>
        <div class="booking-card-button">
          <%= link_to "https://www.timeout.com/#{@booking.offer.destination.city_name}/things-to-do/", target: :_blank, class: 'btn btn-booking' do %>
            <i class="fas fa-landmark"></i> What to do
          <% end %>
        </div>
        <div class="booking-card-button">
          <%= link_to "https://www.timeout.com/#{@booking.offer.destination.city_name}/restaurants/", target: :_blank, class: 'btn btn-booking' do %>
            <i class="fas fa-utensils"></i> Where to eat
          <% end %>
        </div>

      </div>

    </div>

    <div class="col-12 col-lg-6">
      <div id="booking-img">
        <%= image_tag "#{@booking.offer.destination.city_name.downcase}.jpg" %>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="booking-card-button">
        <%= link_to "Make a new booking", root_path, class: 'btn btn-booking' %>
      </div>
    </div>
  </div>
</div>
