  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path('amsterdam.jpg') %>)">
    <h1>Your next destination three clicks away</h1>
    <h3>Define a budget, pick a destination and book your trip</h3>
    <% if user_signed_in? %>
      <%= simple_form_for @definition  do |f| %>
        <div class="landing-form">
          <%= f.input :budget, as: :integer, label: false, placeholder: "How much do you wanna spend?", input_html: {class: "landing-form-field"}, error: false %>
          <%= f.input :travellers, as: :integer, label: false, placeholder: "Number of travellers", input_html: {class: "landing-form-field"}, error: false  %>
          <%= f.input :start_date, as: :string, required: false, label: false, input_html: {class: "datepicker"}, placeholder: "Depart date", error: false  %>
          <%= f.input :end_date, as: :string, required: false, label: false, input_html: {class: "datepicker"}, placeholder: "Return date", error: false  %>
          <%= f.button :submit, "ACTION", class: "landing-form-button btn btn-danger"%>
        </div>
      <% end %>
      <% else %>
        <%= link_to "Get Started", new_user_session_path, class: "btn btn-primary" %>
      <% end %>
   </div>

  <div class="intro">

    <h2>Wanna know how it works?</h2>

    <div class="landing-cards-grid">
      <div class="landing-card">
        <div class="landing-card-title d-flex">
          <h3 class="mr-3 radius-number">1</h3>
          <h3>Define a Budget </h3>
        </div>
        <div class="landing-card-details">
          <p>Tell us how much you want to spend on transportation and accommodation. Also, pick the desired date and if you’re travelling alone or with someone.</p>
          <%= image_tag("budget_1.PNG", :alt => "Budget") %>
        </div>
      </div>
      <div class="landing-card">
        <div class="landing-card-title d-flex">
          <h3 class="mr-3 radius-number">2</h3>
          <h3>Pick a Destination</h3>
        </div>
        <div class="landing-card-details">
          <p>Based on what your budget and dates we’ll show you <strong>3 possible</strong> destinations. Pick one, and then just choose a convenient flight and a nice accommodation.</p>
          <%= image_tag("destination_1.PNG", :alt => "Destination") %>
        </div>
      </div>
      <div class="landing-card">
        <div class="landing-card-title d-flex">
          <h3 class="mr-3 radius-number">3</h3>
          <h3>Book your Trip</h3>
        </div>
        <div class="landing-card-details">
        <p>After confirming all the details you can book your flight and accommodation directly with the carrier and hotel. You’ll receive a confirmation email and you’re good to go.</p>
        <%= image_tag("booking_1.PNG", :alt => "Booking") %>
      </div>
    </div>
  </div>
</div>


