<div class="main-container">

  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="trail">
          <div class="trail-circle done">
            <h1>1</h1>
            <p>Set a Budget & Date</p>
          </div>
          <div class="trail-circle done">
            <h1>2</h1>
            <p>Pick a Destination</p>
          </div>
          <div class="trail-circle doing">
            <h1>3</h1>
            <p>Book Travel & Accommodation</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">

    <div id="header" style="margin-top: 8px; color:#D62828;">
      <h2>Pick one offer</h2>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6">

      <% @offers.each do |offer| %>
        <div class="card-grid">
          <div class="card-offer">
            <%= image_tag "#{offer.destination.city_name.downcase}.jpg" %>
            <div class="card-offer-infos">
              <div><h2><%= offer.destination.city_name %></h2></div>
              <div class="card-offer-details">

                <%# <%= image_tag 'flight_icon.png' %>
                <div class="card-offer-flight">
                  <p id="info-title">Flight</p>
                  <p><%= offer.destination.flight.company %></p>
                  <p><%= offer.destination.flight.departure %> - <%= offer.destination.flight.duration %></p>
                  <p id="info-price"><strong>Price: <%= offer.destination.flight.price %>€</strong></p>
                </div>

                <%# <%= image_tag 'flight_icon.png' %>
                <div class="card-offer-accommodation">
                  <p id="info-title">Accommodation</p>
                  <p> <%= offer.destination.accommodation.address %> </p>
                  <p> <%= offer.destination.accommodation.check_in %> (2 nights)</p>
                  <p id="info-price"><strong> Price: <%= offer.destination.accommodation.price %>€</strong></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      <% end %>

      </div>

      <div class="col-12 col-lg-6">
        <div id="map"
          style="width: 100%; height: 480px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

    </div>
  </div>

</div>
