<div class="main-container">
  <div class="btn-back my-3">
    <%= link_to "<< Back", :back, class: "back" %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="trail">
          <div class="trail-circle done">
            <h1>1</h1>
            <p>Set a Budget & Date</p>
          </div>
          <div class="trail-circle doing">
            <h1>2</h1>
            <p>Pick a Destination</p>
          </div>
          <div class="trail-circle undone">
            <h1>3</h1>
            <p>Book Travel & Accommodation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="header" style="margin-top: 8px; color:#D62828;">
    <% if @countries.empty? %>
    <h2>No destination within that budget or dates</h2>
    <h3>please try again</h3>
      <% else %>
       <h2>Pick one destination</h2>
    <% end %>

    </div>
    <div class="cards">
      <% @countries.sample(3).each_with_index do |country, index| %>
        <% destination = Destination.find_by(country_name: country) %>
        <%= link_to destination_offers_path(destination), class:'text-decoration-none' do %>
          <div class="card-destination-full">
            <div class="card-destinations">
              <div class="card-destinations-number d-flex">
                <h3 class="mr-3 radius-number2"><%= index + 1 %></h3>
              </div>
                <%= image_tag destination.flight.url %>
              <div class="card-destinations-infos">
                <h2><%= destination.flight.city_name %>, <%= destination.flight.country_name %></h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class= "suggestions d-flex col-12 col-lg-12">
      <%= link_to "GIVE ME MORE SUGGESTIONS", destinations_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
