<div class="main-container">
 <div class="container">
    <div class="trail">
      <div class="trail-circle-done"><h1>1</h1></div>
      <div class="trail-circle-doing"><h1>2</h1></div>
      <div class="trail-circle-undone"><h1>3</h1></div>
    </div>
    <div class="trail">
      <div class="trail-titles1"><h3>Set a budget<br> & Date</h3></div>
      <div class="trail-titles2"><h3>Pick a destination</h3></div>
      <div class="trail-titles3"><h3>Book Travel &<br> Accommodation</h3></div>
    </div>

  </div>
  <div class="container">
    <div class="cards">
      <% @destinations.sample(3).each_with_index do |destination, index| %>
        <%= link_to destination_offers_path(destination), class:'text-decoration-none' do %>
          <div class="card-destination-full">
            <div class="card-destinations">
              <div class="card-destinations-number d-flex">
                <h3 class="mr-3 radius-number2"><%= index + 1 %></h3>
              </div>
              <img src="https://source.unsplash.com/user/erondu" alt="City Photo">
            </div>
            <div class="card-destinations-infos">
              <h2><%= destination.flight.city_name %>, <%= destination.flight.country_name %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class= "suggestions d-flex">
     <%= link_to "GIVE ME MORE SUGGESTIONS", destinations_path, class: "btn btn-flat" %>
    </div>
    <div class="back">
      <a href="javascript:history.back()"><i class="fas fa-undo"></i></a>
    </div>
  </div>
</div>
