<!DOCTYPE html>
<html>
  <head>
    <title>Three Clicks Travel</title>
    <meta property="og:image" content="app/assets/images/Facebook.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_link_tag 'logo.ico' %>
  </head>

  <body id="<%= controller_name %>_<%= action_name %>">
    <div class="wrapper">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
